.navbar {
    background-color: #fff;
    margin-bottom: 0;
}

.navbar-default {
    border: 0;
    border-radius: 0;
}

ul.navbar-nav {
    height: 90px;
}

ul.navbar-nav li {
    height: 90px;
}

ul.navbar-nav li > a {
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 90px;
    font-family: 'josefin-semi', Arial, Helvetica, sans-serif;
    color: #999 !important;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

ul.navbar-nav li > a:hover {
    background-color: rgba(0, 0, 0, 0.02) !important;
    color: #555 !important;
}

ul.navbar-nav li.active > a {
    color: #555 !important;
    background-color: rgba(0, 0, 0, 0.05) !important;
}

.navbar .navbar-header > img {
    padding: 10px;
    padding-right: 50px;
    cursor: pointer;
}